In [1]:
import pandas as pd

In [ ]:
"""Send a complete request to the server."""
self._send_request(method, url, body, headers, encode_chunked)

In [6]:
# Enviar solicitud a servidor para cargar .csv
# Install the requests module
%pip install requests

import requests

url = "https://f005.backblazeb2.com/file/datasetsecmn/ecmn/ds_merged_C3.csv"
headers = {}  # Define headers if needed
response = requests.get(url, headers=headers)

# read the CSV content into a pandas DataFrame
from io import StringIO
data = StringIO(response.text)
df = pd.read_csv(data)  
print(df.head())  # Display the first few rows of the DataFrame

Requirement already satisfied: requests in /Users/jluisfeltrer/Desktop/ecmn_cloud/.ECMN_CLOUD/lib/python3.13/site-packages (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /Users/jluisfeltrer/Desktop/ecmn_cloud/.ECMN_CLOUD/lib/python3.13/site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/jluisfeltrer/Desktop/ecmn_cloud/.ECMN_CLOUD/lib/python3.13/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/jluisfeltrer/Desktop/ecmn_cloud/.ECMN_CLOUD/lib/python3.13/site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jluisfeltrer/Desktop/ecmn_cloud/.ECMN_CLOUD/lib/python3.13/site-packages (from requests) (2025.7.14)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
                           {
  "code": "unauthorized" NaN
  "message": ""          NaN
  "status": 401          NaN
}                        NaN

In [7]:
df3 = pd.read_csv('/Users/jluisfeltrer/Desktop/Analisis de datos/data_analysis_curso/e-cmn/E-commerce_mkechinov/merged_2019_C1.csv')

In [8]:
df.shape

(4, 1)

In [9]:
df3.shape

(109950743, 9)

In [11]:
df3.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2